* {
    background-color: bisque;
    
 }
 body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;

 }
 .logo {
    box-sizing: border-box;
    margin: 20px;
    color: bisque;
 }
 header *{
    background-color: blueviolet;
 }
 .nav {
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
 }
 .navbar{
    justify-content: space-evenly;
    padding-top: 50px;
    color: bisque;
    display: flex;
 }
 .navend{
    padding-top: 50px;
    color: bisque;
  }


 .stats {
    display: flex;
    justify-content: space-evenly;
 }

 .searchbtn {
    display: flex;
    justify-content:end;
 }
 button {
    background-color: rgb(174, 0, 255);
    font-size: 18px;
    color: bisque;

 }

 .vehicles, .spareparts{
    display: flex;
    justify-content: space-evenly;

 }
 
 .footer * {
    background-color: rgb(174, 0, 255);
 }
 .socials img {
    object-fit: contain;

 }
 .footers {
    display: flex;
    justify-content: space-evenly;
    color: bisque;

 }

