* {
    background-color: bisque;
    background-color: rgb(222, 217, 223);
 }
 body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;

 }
 .logo {
    box-sizing: border-box;
    margin: 20px;
    color: white;
 }
 header *{
    background-color: rgb(174, 0, 255);
 }
 .nav {
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
 }
 .navbar{
    justify-content: space-evenly;
    padding-top: 50px;
    color: white;
    display: flex;
 }
 .navend{
    padding-top: 50px;
  }
  .nav, .navend, .subscribe, button {
   color: white;
  }

  .intro, .whyLM, .about{
   display: flex;
   justify-content: space-evenly;
   padding-top: 30px;
  }

  .intropic, img {
    margin: 40px;
    padding-left: 10px;
    padding: 10px;
  }
  .stats {
    display: flex;
    justify-content: space-evenly;
    border: 2px solid;
    position: relative;
    box-sizing: border-box;
    box-shadow:5px 5px 2px grey;
    margin: 50px;
 }
 .stats1 {
    font-size: 18px;
 }

 .aboutpic, img {
    display: flex;
    padding-bottom: 20px;
    justify-content: end;
    padding-right: 10px;

 }

 .whypic, img {
    margin:20px;
    padding-left: 10px;
    padding-bottom: 20px;
    object-fit: contain;
 }

 

 .searchbtn {
    display: flex;
    justify-content:end;
    margin: 20px;
 }
 button {
    background-color: rgb(174, 0, 255);
    font-size: 20px;
    color: bisque;
    border-radius: 10px;

 }

 .vehicles, .spareparts{
    display: flex;
    justify-content: space-evenly;
    border: 2px solid;
    position: relative;
    box-sizing: border-box;
    box-shadow:5px 5px 2px grey;
    margin: 50px;
 }

 .feedback{
   padding-bottom: 30px;
 }
 .feedback .feed {
   text-align: center;
 }

 .feedbacks{
   display: flex;
   justify-content: space-evenly;
 }
 .feeds, p {
   font-size: 18px;
 }
 .feed img {
   border-radius: 50%;
 }
 
 .footer * {
    background-color: rgb(174, 0, 255);
    padding: 10px;
 }
 .socials img {
    object-fit: contain;
    max-width: 100px;
    max-height:px;

 }
 .footers {
    display: flex;
    justify-content: space-evenly;
    color: bisque;

 }

